---
import { BannerCemService } from "../components/BannerCemService";
import { navbarHeight } from "../globals";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cem Service">
  <main class="text-slate-600">
    <div
      class="flex flex-col items-center justify-center gap-10 p-4 pb-20 xl:flex-row xl:gap-36 xl:p-20 xl:pb-36"
    >
      <div
        class="aspect-video w-full flex-shrink-0 bg-[url('/images/anto.jpg')] bg-cover bg-center xl:aspect-square xl:w-1/2 max-w-xl"
      >
      </div>
      <div class="flex flex-col gap-10 text-xl leading-normal">
        <div>
          Cem Service, nata nel 2008 per affiancare l’attività di analisi del
          Centro Enologico Meridionale, si propone come Centro di Consulenza in
          servizi scientifici, tecnici, legislativi e amministrativi e come
          Centro di Assistenza Agricola (CAA), rivolgendosi alle aziende
          vitivinicole di dimensioni piccole, medie e grandi presenti sul
          territorio nazionale.
        </div>
        <div>
          In un mercato sempre più globalizzato e concorrenziale come quello del
          vino, disporre di servizi integrati ed evoluti, concentrati in un
          unico referente, rappresenta un importante vantaggio competitivo del
          Cem Group.
        </div>
      </div>
    </div>

    <BannerCemService client:only />
  </main>
</Layout>
