---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contatti">
  <div class="flex py-4 xl:py-20 flex-col gap-20">
    <div
      class="flex px-4 md:px-0 flex-col-reverse md:flex-row h-full items-center justify-center"
    >
      <div
        class="w-full aspect-video md:aspect-auto max-w-xl pt-10 md:pt-0 md:w-1/3 flex-shrink-0"
      >
        <img
          src="/images/cem-service.jpeg"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>

      <div class="flex flex-col gap-10 px-0 md:px-10 text-xl leading-normal">
        <div class="text-2xl font-bold uppercase text-center md:text-left">
          come contattarci
        </div>
        <div class="flex flex-col gap-1">
          <div class="text-xl font-bold">CEM Group</div>

          <div class="flex items-center gap-1">
            <img class="w-5" src="/images/phone.svg" alt="" />
            <div>+39 085 9031303 / +39 085 9032552</div>
          </div>
          <div class="flex items-center gap-1">
            <img class="w-5" src="/images/email.svg" alt="" />
            <a href="mailto:info@cem-group.it">info@cem-group.it</a>
          </div>
        </div>

        <div class="flex flex-col gap-1">
          <div class="text-xl font-bold">CAA Canapa - Sede di Ortona</div>

          <div class="flex items-center gap-1">
            <img class="w-5" src="/images/phone.svg" alt="" />
            <div>+39 085 9032382</div>
          </div>
          <div class="flex items-center gap-1">
            <img class="w-5" src="/images/email.svg" alt="" />
            <a href="mailto:info@cem-group.it">ortona@caacanapa.it</a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex md:flex-row flex-col h-full items-center justify-center gap-10"
    >
      <div class="flex flex-col gap-4 px-10 text-xl leading-normal">
        <div class="text-2xl font-bold text-center md:text-left uppercase">
          dove siamo
        </div>
        <div class="flex items-center justify-center gap-4 text-xl">
          <div class="w-5">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
              <path
                d="M4 12a12 12 0 0 1 24 0c0 8-12 20-12 20S4 20 4 12m7 0a5 5 0 0 0 10 0 5 5 0 0 0-10 0Z"
                fill="#000000"
                class="color000 svgShape"></path>
            </svg>
          </div>
          <div>
            <div>Loc. Caldari Stazione</div>
            <div>66026 Ortona (CH)</div>
          </div>
        </div>
      </div>
      <div class="w-full px-4 md:px-0 md:w-1/2 flex-shrink-0 pb-10">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3546.101818787692!2d14.355185134101761!3d42.298552350478154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133101bdb63e67c1%3A0x567bfc7e124fa011!2sCEM%20Centro%20Enologico%20Meridionale%20Srl!5e0!3m2!1sen!2sit!4v1723041278763!5m2!1sen!2sit"
          height="450"
          width="100%"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</Layout>
