---

---

<div class="flex items-center justify-center">
  <div class="w-1/2 max-w-xl flex-shrink-0">
    <img
      src="/images/centro-enologico-meridionale.jpeg"
      alt=""
      class="w-full object-cover"
    />
  </div>

  <div class="flex flex-col gap-10 px-10 text-xl leading-normal">
    <div>
      Il Centro Enologico Meridionale, nato nel 1971 da un’intuizione
      dell’enologo Italo De Luca, riunisce una squadra di professionisti in
      grado di offrire servizi qualificati alle aziende vinicole, in tutti gli
      aspetti della filiera vitivinicola:
    </div>
    <div class="flex flex-col gap-10">
      <div class="flex gap-6">
        <p>
          Effettuazione delle analisi nel laboratorio chimico su vino, uva,
          mosti, vinacce, fecce di vino, bevande spiritose e olio
        </p>
      </div>

      <div class="flex items-center gap-6">
        <p>Emissione dei relativi certificati di analisi</p>
      </div>

      <li class="flex items-center gap-6">
        <p>
          Consulenza in servizi scientifici, tecnici, legislativi ed
          amministrativi in materia vitivinicola
        </p>
      </li>
      <li class="flex items-center gap-6">
        <p>Gestione di progetti di sviluppo nel mondo del vino.</p>
      </li>
    </div>
  </div>
</div>
